*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter';
    src: url('./lib/assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey-200: #d8d8d8;
    --grey-300: #c5c6ce;
    --navy-600: #5E607A;
    --navy-950: #00001A;
    --gold-400: #E9AA52;
    --red-500: #F15D51;

    --font: 'Inter', sans-serif;
    --w-regular: 400;
    --w-bold: 700;
    --w-extrabold: 800;

    --font-xxxl: calc(56 / 16 * 1rem);
    --font-xxl: calc(40 / 16 * 1rem);
    --font-xl: calc(32 / 16 * 1rem);
    --font-lg: calc(20 / 16 * 1rem);
    --font-md: calc(18 / 16 * 1rem);
    --font-sm: calc(15 / 16 * 1rem);
    --font-xs: calc(14 / 16 * 1rem);

    --line-height-xxxl: calc(64 / 16 * 1rem);
    --line-height-xxl: calc(40 / 16 * 1rem);
    --line-height-xl: calc(32 / 16 * 1rem);
    --line-height-lg: calc(26 / 16 * 1rem);
    --line-height-md: calc(24 / 16 * 1rem);

    --letter-spacing-wide: calc(4.38 / 16 * 1rem);

    --s-100: calc(8 / 16 * 1rem);
    --s-200: calc(16 / 16 * 1rem);
    --s-250: calc(21 / 16 * 1rem);
    --s-300: calc(24 / 16 * 1rem);
    --s-400: calc(32 / 16 * 1rem);
    --s-500: calc(40 / 16 * 1rem);
    --s-600: calc(48 / 16 * 1rem);
    --s-700: calc(56 / 16 * 1rem);
    --s-800: calc(64 / 16 * 1rem);
    --s-900: calc(72 / 16 * 1rem);
    --s-1000: calc(80 / 16 * 1rem);
    --s-1100: calc(88 / 16 * 1rem);
    --s-1200: calc(96 / 16 * 1rem);
    --s-1300: calc(104 / 16 * 1rem);
}

body {
    font-family: var(--font);
    color: var(--navy-600);
    background-color: var(--white);
}

.hide {
    display: none;
}

.transparent {
    background-color: transparent;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: hotpink; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: var(--s-250);
    padding-inline: var(--s-200);
}

.logo {
    max-width: var(--s-600);
    max-height: var(--s-600);
}

.open {
    min-width: var(--s-400);
    min-height: var(--s-400);
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: var(--s-300);
    right: var(--s-250);
    z-index: 1000;
}

menu {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: var(--s-300);
    padding: var(--s-250);
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--s-300);
    margin-top: var(--s-1200);
    color: var(--black);
    font-size: var(--font-md);
}

nav ul li {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--s-900);
    padding: var(--s-400) var(--s-200) var(--s-1100);
    /* background-color: aliceblue; */
}

.article {
    display: flex;
    flex-direction: column;
    gap: var(--s-300);
}

.article-title {
    font-size: var(--font-xxl);
    line-height: var(--line-height-xxl);
    font-weight: var(--w-extrabold);
    color: var(--black);
}

.article-body {
    font-size: var(--font-xs);
    font-weight: var(--w-regular);
    line-height: var(--line-height-lg);
}

.article-cta {
    font-size: var(--font-xs);
    font-weight: var(--w-bold);
    line-height: var(--line-height-md);
    letter-spacing: var(--letter-spacing-wide);
    background-color: var(--red-500);
    color: var(--black);
    border: none;
    text-transform: uppercase;
    padding: var(--s-100) var(--s-300);
    cursor: pointer;
    align-self: flex-start;
}

.featured-articles {
    display: flex;
    flex-direction: column;
    gap: var(--s-400);
    background-color: var(--navy-950);
    padding: var(--s-200) var(--s-300);
}

.featured-articles h2 {
    font-size: var(--font-xl);
    line-height: var(--line-height-xl);
    font-weight: var(--w-bold);
    color: var(--gold-400);
}

.featured-article {
    display: flex;
    flex-direction: column;
    gap: var(--s-100);
    color: var(--grey-300);
}

.featured-article:not(:last-child)::after  {
    width: 100%;
    height: 1px;
    background-color: var(--navy-600);
    content: '';
    margin-top: var(--s-400);
}

.featured-article h3 {
    color: var(--white);
    font-size: var(--font-lg);
    line-height: var(--line-height-md);
    font-weight: var(--w-extrabold);
}

.featured-article p {
    font-size: var(--font-sm);
    line-height: var(--line-height-lg);
    font-weight: var(--w-regular);
}

.articles-list {
    display: flex;
    flex-direction: column;
    gap: var(--s-400);
}

.articles-list .article-list-item {
    display: grid;
    grid-template-columns: var(--s-1200) auto;
    row-gap: var(--s-100);
    column-gap: var(--s-300);
}

.article-list-item img {
    max-width: var(--s-1200);
    height: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    align-self: stretch;
}

.article-list-item h2 {
    font-size: var(--font-xl);
    line-height: var(--line-height-xl);
    font-weight: var(--w-bold);
    color: var(--red-500);
}

.article-list-item h3 {
    font-size: var(--font-md);
    line-height: var(--line-height-md);
    font-weight: var(--w-extrabold);
    color: var(--black);
}

.article-list-item p {
    font-size: var(--font-sm);
    line-height: var(--line-height-lg);
    font-weight: var(--w-regular);
}


@media (min-width: 64rem) {

    header {
        align-items: center;
    }

    menu {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
    }

    nav ul {
        flex-direction: row;
        margin-top: 0;
        gap: var(--s-500);
    }

    .onlg-hide {
        display: none;
    }

    .onlg-show {
        display: flex;
    }

}